/* Contact.css */
.contact-section {
    padding: 50px 20px;
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-section h2 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section input,
.contact-section textarea {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-section button {
    padding: 15px 30px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

.contact-section button:hover {
    background-color: #0056b3;
}
